body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
/*   height: 100%; */
  margin: 0 auto;
  
  }

header {
  width: 100%;
  margin: auto;
  height: 380px;
  border-top: 5px solid #222;
  position: relative;
  background-image: url("https://i.imgur.com/O5ojQVi.png");
background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
/*   display: flex;
  flex-wrap: no-wrap;
flex-flow: column;
justify-content: center; */
}

h1{ 
}

.small {
/*   display: block; */
/*   flex: 0 0 10%; */

  position: absolute;
  margin-left: 270px;
  margin-top: 240px;
  padding-bottom: 0px;
/*   top: 200px;
  left: 270px; */
  
}
.huge {
  margin-top: 270px;
  margin-left: 270px;
  font-size: 63px;
}

.container {
  max-width: 750px;
/*   margin-top: 400px; */
  margin-left: auto;
  margin-right: auto;
}

.normal {
  margin-left: 50px;
  margin-right: 50px;
}

h1 {
  color: #222222;
  font-family: 'Abril Fatface', cursive;
}
p, ul {
  font-family: 'Josefin Sans', sans-serif;
  color: #222222;
   line-height: 180%;
  font-size: 16px;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: #222222;
}
h3{
  font-family: 'Josefin Sans', sans-serif;
  color: #222222;
  font-size: 24px;
    margin-bottom: 0px;
}
h4 {
  font-family: 'Merriweather', sans-serif;
  font-size: 15px;
  font-style: italic;
  margin-top: 0px;
  color: #222222
}


.blockquote-box {
  background: gray;
  position: relative;
  padding: 1px;
}

blockquote::before {
  
  content: '\201C';
  color: white;
  font-size: 100px;
  position: absolute;
  top: -25px;
  left: 0px;
  margin: 0px;
  
}
  
.blockquote {
  display: block;
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 50px;
/*   position: relative; */
  margin: 0px;
  padding: 0px;
}